.loader{
    position: fixed;
    z-index: 100;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    > h5 {
        margin: auto;
    }
}