.list-container{
    width:80%;
    margin:0 auto;
    position:relative;
    display:block;
    .properites-list{
        width:100%;
        max-width: 400px;
        li{
            border: 1px solid #ddd;
            display:block;
            width:100%;
            clear:both;
            padding:15px;
            span{
                display:block;
                width:100%;
                clear:both;
                align-items: center;
                display: flex;
                justify-content: center;
                text-align: left;
                overflow:hidden;
                &.property-img{
                    img{
                        width:100%;
                    }
                }
            }
            &.empty{
                display:block;
                height:100px;
            }
        }
    }
}
