/* Global Variables */
$brandColor:#ff1a1a;
$brandColorDark:#e60000;
/* Shared styles */
body{
    padding:0;
    margin:0;
    overflow-x:hidden;
}
ul, li{
    margin:0;
    padding:0;
    list-style: none;
}
.pull-left{
    float:left;
}
.pull-right{
    float:right;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }

@import './common/header.scss';
@import './list/propertiesList.scss';