doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title REA Interview Project
    script(src='/build/bundle.js')
    if (!isProd)
      script(src='http://localhost:3001/livereload.js')
  body
    #root
    #loading-canvas

  